*{
	margin:0;
	padding:0;
}

header, section, article{
    display: block;
}

img{
    border:0;
}

body{
	background:#fff;
    font-family: 'Open Sans', sans-serif;
}

header{
    width:100%;
    position:relative;
    /*background: url('../images/home.jpg') no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    min-height: 500px;
    padding-bottom: 200px;
}

header header{
    background: #252322 none;
    color:#fff;
    font-weight: 300;
    text-align: right;
    padding:3px 0px;
    width:100%;
    font-size: 14px;
    text-transform: uppercase;
    min-height: 0;
}

header header a{
    font-weight: 600;
    color:#fff;
    text-decoration: none;
}

header header span{
    font-weight: 600;
    padding-right: 20px;
}

header nav{
    background:rgba(0,0,0,0.4);
    overflow: hidden;
}

header nav ul{
    list-style: none;
    font-weight: 600;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom:10px;
}

header nav ul li{
    float:left;
    margin-right: 20px;
}

header nav ul li a{
    text-decoration: none;
    color:#fff;
    transition: color .3s ease-in;
}

header nav ul li a:hover{
    color: #90b900;
}

header nav ul li:last-child{ 
    margin-right: 0;
}

#nav_left{
    float:left;
    margin-left: 20px;
}

#nav_right{
    float:right;
    margin-right: 20px;
}

#logo{
    width:137px;
    margin:20px auto 0;
    display: block;
    position:absolute;
    left:47%;
}

#connect{
    position:absolute;
    top:40px;
    right:20px;
    color:#fff;
    font-size: 13px;
}

#connect a{
    background: #90b900;
    font-weight: 300;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding:4px 10px;
}

header h1{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    color:#FFF;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    background:url('/assets/coquins.png') no-repeat scroll 291px 0px;
    padding-right: 264px;
    width:291px;
    margin:100px auto 0;
    padding-top: 30px;
}

#arrow{
    width:140px;
    margin:26px auto;
}

header h2{
    border:1px solid #FFF;
    font-size:30px;
    width: 634px;
    margin:0 auto;
    text-align: center;
}

header h2 a{
    color:#fff;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
}

header h3, h4{
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
    margin-top:10px;
}

header h4{
    font-size: 20px;
    margin-top:0px;
}


.line{
    overflow: hidden;
    clear: both;
    width:100%;
}

.bloc{
    float: left;
    overflow: hidden;
    height:344px;
}

.high_bloc{
    float: left;
    overflow: hidden;
    height:525px;   
}

.quart{
    width:25%;
}

.two-quart{
    width:50%;
}

.ie .two-quart{
    width:49,99% !important;
}

.content h2{
    font-size: 30px;
    font-weight: 400; 
    color:#434343;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.margin_top{
    margin-top:20px;
}

.content h2 span{
    font-weight: 700;
}

.content{
    padding: 30px;
    color:#434343;
}

.content p{
    margin-bottom: 10   px;
}

.green_link, .white_link{
    text-decoration:none; 
    text-align: center;
    display: block;
    width:50%;
    margin: 30% auto;
    padding:20px 0;
    font-size:20px;
}

.green_link{
    border:1px solid #90b900;
    color:#90b900;
}

.white_link, .white_link_inline{
    border:1px solid #fff;
    color:#fff;   
}

.white_link_inline{
    text-decoration: none;
    padding:10px 20px;
    font-size:16px; 
    margin-top: 30px;
    display: inline-block;
}

.green_link_left{
    border:1px solid #90b900;
    color:#90b900;
    text-decoration:none; 
    padding:10px 20px;
    font-size:20px; 
    margin-top: 30px;
    display:inline-block;
}

.green_link span{
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.bloc img, .high_bloc img{
    width:100%;
}

.grocery{
    background: #9d7a61;
    text-align: center;
}

.white .content, .white .content h2, .white .content a{
    color:#fff !important;
    text-decoration: none;
}

.rounded_link{
    border:1px solid #fff;
    padding:5px 10px;
    margin-top: 30px;
    display: inline-block;
}

.join, .certification{
    background: #90b900;
    text-align: center;
}

#join input{
    border:1px solid #fff;
    background: #90b900;
    font-size: 16px;
    padding:10px;
    color:#fff;
    text-align: center;
}

 ::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.underlined_link{
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41); 
    color:#fff;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.visit{
    position:relative;
    z-index:1;
}

.visit h2{
    text-align: center;
    position: absolute;
    z-index:2;
    margin-top: 152px;
    top: 0;
    display: block;
    width: 100%;
}


.iam{
    height:135px;
    text-align: center;
    padding-top:40px;
}

.iam h3{
    font-family: 'Josefin Slab', serif;
    font-size:30px;
    font-weight: 400;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: 30px;
}

.iam h3 span{
    font-weight: 700;
}

.iam a, .certification a{
    color:#fff;
    font-size:16px;
    border:1px solid #fff;
    padding:5px 20px;
    text-decoration: none;
}

.certification a{
    display:block;
    text-align: center;
    width:50%;
    margin: 60px auto;
}

#professionel{
    background:#9d7a61;
}

#collectivite{
    background:#443942;
}

#amap{
    background:#d7ba91;
}

.news_line, .news, .news_image{
    overflow:hidden;
    height:344px;
}

#news article{
    width:50%;
    float: left;
}

.news_texte, .news_image{
    float:left;
    width:50%;
}

.news_content{
    padding:30px 20px;
}

.news_image img{
    width:100%;
}

.right .news_texte{
    float:right;
}

.news_texte h1{
    font-size: 20px;
    border-bottom: 1px solid #434343;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.news_texte h1 a{
    color:#434343;
    text-decoration: none;
    text-transform: uppercase;
}

#quote{
    background: #628088;
    color:#fff;
    text-align: center;
    padding: 50px 20%;
    width: 60%;
}

.quote{
    font-family: 'Reenie Beanie', cursive;
    padding-top: 15px;
    font-size: 30px;
}

.author{
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 0 0;
}

.certification img{
    width:auto !important;
    margin-top:60px;
    height:auto !important;
}

footer{
    background:#252322;
    overflow: hidden;
    padding-top: 10px;
    clear:both;
    color:#fff;
    position:relative;
}

footer #connect{
    position: static !important;
    margin-top: 20px;
}

footer footer{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color:#fff;
    padding: 20px 0;
}

footer footer a{
    color:#fff;
}

footer .content{
    color:#fff;
    position: relative;
}

footer .content img{
    width:auto;
    margin-bottom: 15px;
    height: auto !important;
}

footer .content p{
    margin-bottom: 3px;
}

footer .content p span{
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
}

footer ul li a{
    text-transform: uppercase;
    color:#fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer h2{
    margin-bottom: 15px !important;
    color:#fff !important;
}

footer h2 span{
    font-weight: 700;
}

#socials{
    overflow: hidden;
    margin-top: 20px;
}

.social{
    background-size: 30px 30px !important;
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin-right: 10px;
}

.social img{
    width:30px !important;
    height:30px !important;
    transition: opacity .3s ease-in;
}

.social:hover img{
    opacity:0;
}

.facebook{
    background: url(/assets/facebook_hover.png) no-repeat top left;
}

.twitter{
    background: url(/assets/twitter_hover.png) no-repeat top left;
}

#bio_logos{
    position:absolute;
    right:20px;
    bottom:20px;
}

#bio_logos img{
    height:49px;
    margin-left: 10px;
}

#main_content { 
    position: relative; 
    width: 100%;
    overflow: hidden;
    transition: margin .2s ease-out;
}

.active{
    overflow: hidden;
}

.active #main_content { 
    margin-left:33%;
}

#toggle{
    display: none;
}

#nav{
    display: none;
    list-style: none;
    /*background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(#252322));
    background-image: -webkit-linear-gradient(left, #000, #252322);
    background-image: -moz-linear-gradient(left, #000, #252322);
    background-image: -o-linear-gradient(left, #000, #252322);*/
    background: #90b900;
    width:33%;
    margin-left: -33%;
    transition: margin .2s ease-out;
    
    position:fixed;
    top:0;
    left:0;
    bottom:0;
}

#nav li{
    border-bottom: 1px solid #252322;   
    padding:20px 10px;
}

#nav li a{
    text-transform: uppercase;
    font-weight: 700;
    color:#fff;
    text-decoration: none;
}

@media screen and (max-width:1275px){
    .bloc img, .news_line img {
        width: auto;
        height: 100%;
    } 
}

@media screen and (max-width:1025px){
    .no_mobile{
        display:none;
    }

    .quart, .two-quart, #news article{
        width:100%;
    }

    .bloc{
        float:none;
    }

    .news_image{
        max-height: 344px;
    }

    .news_line{
        height:auto;
    }

    .right .news_texte{
       float:left;
    }

    .bloc img, .high_bloc img, footer .bloc, .news_line img{
        width:100%;
        height:auto;
    }

    #discover .bloc, .grocery, #producer .bloc, .join, .certification{
        height: auto;
    }

    #discover .quart.bloc .green_link{
        margin: 30px auto 50px;
    }
    #producer .quart.bloc .green_link{
        margin: 50px auto 30px;       
    }

    #join input{
        margin: 30px auto 10px;
    }
}

@media screen and (max-width:900px){
    nav{
        display:none;
    }

    #nav{
        display: block;
    }

    .active #nav{
        margin-left: 0;
    }
}

@media screen and (max-width:640px){

    footer footer{
        margin-bottom: 80px;
    }

    #bio_logos{
        width: 100%;
        text-align: center;
    }

    .bloc img, .high_bloc img, footer .bloc {
        width: auto;
        height: 100%;
    }

    .news_texte, .news_image, .right .news_texte{
        width: 100%;
        float:none;
    }
}